*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    width: 250px;
    background-color: blue;
    aspect-ratio: 1/2;
}
.container{
    display: flex;
    
}
.container{
    height: 100%;
}
.right{
    width: 50%;
}
figure{
    height: 100%;
    width: 100%;
    line-height: 0;
}
img{
    height: 100%;
    object-fit: cover;
}