*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    width: 200px;
    height: 200px;
    
}
.item-1{
    background-color: red;
    

}
.item-2{
   background-color: green;
    position: absolute;
    left: 40px;
    top: 40px;
}
.item-2:hover{

    transition: 1s; rotate: 45deg;
    width: 300px;
    height: 300px;
}
 
.item-3{
    background-color: blue;
    position: absolute;
    z-index: -1;
    top: 85px;
    left: 80px;

    
   
    
}